<div class="as-search-wrapper" role="main">
    <div>
        <h2>
            Pago rechazado
        </h2>
    </div>
</div>


<script src="https://www.mercadopago.com/v2/security.js" view="error"></script>