<div class="as-search-wrapper" role="main">
    <div>
        <h2>
            Pago Exitoso
        </h2>
        <div>
            <p>external_reference: {{external_reference}}</p>
            <p>preference_id: {{preference_id}}</p>
        </div>
    </div>
</div>
<script src="https://www.mercadopago.com/v2/security.js" view="exitoso"></script>